/*


Merged all CSS


*/

body {
    background-color: whitesmoke;
}

#partytime {
    display: none;
    font-size: 1em;
    text-align: center;
    background-color: yellowgreen;
    color: white;
}

header, footer {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    color: white;
    width: 100%;
    background-color: rgba(6, 61, 179, 0.884);
}

.logo {
    width: 15%;
    max-width: 100px;
    margin: 5px 5px 5px 5px;
}

.motto {
    font-family: 'Martel', serif;
    font-size: .90em;
    align-content: center;
}


footer {
    margin: auto;
    flex-direction: column;
    position: sticky;
    bottom: 0;
    font-size: 14px;
}

nav {
    background-color: rgba(101, 140, 224, 0.884);
    width: 100%;
}

nav ul {
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav li a {
    display: flex;
    justify-content: center;
    color: white;
    padding: 0.75rem;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}

nav a:hover {
    background-color: rgba(218, 234, 240, 0.678);
    color: #36454f;
    width: 100%;
    transition: .5s;
}

.navbar li:first-child {
    display: flex;
    justify-content: center;
}

.navbar li {
    display: none;
}

.magic li {
    display: flex;
    justify-content: center;
}

.active {
    width: 100%;
    background-color: rgba(218, 234, 240, 0.678);
    color: rgb(18, 18, 158);
    font-weight: bold;
}

#footdiv {
    margin-top: 15px;
    margin-bottom: 5px;
}

#currentDate {
    color: yellow;
    padding-bottom: 10px;
}

h1 {
    text-align: center;
}

h2 {
    font-family: 'Martel', serif;
}

h3, h4 {
    text-decoration: underline;    
}

main {
    text-align: center;
}

.townevents {
    text-align: left;

}

/* additional information links */
.ai-links {
    margin-bottom: 30px;
}

.ai-link {
	display: inline-block;
    font-weight: 700;
	color: #ffffff;
	text-align: center;
	text-decoration: none;
	border:2px solid rgba(101, 140, 224, 0.884);
    background-color: rgba(101, 140, 224, 0.884);
	border-radius: 10px;
    padding: 10px 15px;
    margin: 10px 10px;
}

.ai-link:hover {
    background-color: rgba(218, 234, 240, 0.678);
    color: #36454f;
    transition: .5s;
}
/* additional information links */

/* Town Page */
.cityarea {
    margin: 0 auto;
    width: 100%;
    background-color: rgba(218, 234, 240, 0.678);
    font-family: 'Martel', serif;
}

.weathersummary {
    position: relative;
}

.heroimage img {
    width: 100%;
}

.conditionstats {
    position: absolute;
    top: 20px;
    left: 20px;
    border: 1px solid #000;
    font-size: .85rem;
    opacity: .70;
    background-color: lightgray;
    padding-left: 10px;
    text-align: left;
    text-transform: capitalize;
    padding: 10px;
}

section.conditionstats h3,
section.conditionstats p {
    margin: .3em 0;
}

.forecast {
    display: none;
    flex-direction: column;
    align-items: center;
    padding-bottom: 10px;
    font-size: 20px;
}

table {
    margin-top: -20px;
    border-collapse: collapse;
    border: 1pt solid #7fb9c2;;
}

tr, td {
    border: 1pt solid #7fb9c2;;
}

td img {
    display: block;
    width: 75px;
    height: 75px;
}

.story {
    text-align: left;
}

.story, .contact {
    display: flex;
    flex-flow: row wrap;
    background-color: lightblue;
}

.parkimage img {
    width: 100%;
}

.leftcol, .rightcol {
    width: 48%;
    flex: 1 0 15em;
    margin: 0.5em;
}

.contact .rightcol {
    padding-left: 25px;
}

.townmap img {
    display: none;
}

/* iframe {
    height: 300px;
    width: 100%;
    margin: 10px;
    padding: 2px;
    border:2px solid skyblue;
} */

.textmsg {
    position: absolute;
    top: 10px;
    right: 10px;
    color: rgb(172, 92, 247);
    font-weight: bold;
    font-size: 1.5em;
 }
/* Town Page */

/* Gallery */
figure {
    font-size: 1.15em;
}

.weatherimages {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
}

picture img[data-src] {
    filter: sepia(100%) blur(0.75em);
}

picture img {
    width: 100%;
    transition: filter 0.85s;
}
/* Gallery */

/* Start Stormcenter */
.reddot {
    color: red;
}

input {
    margin: 5px;   
}

#rating {
    vertical-align: middle;
}

fieldset {
    font-size: 12pt;
    margin: auto;
    max-width: 80%;
    background-color: rgba(218, 234, 240, 0.678);
} 

legend {
    margin: 0 auto;
    padding: 8px;
}

#addinfo {
    width: 99%;
}

fieldset div {
    padding-right: 30px;
 }

#stormRegion {
    margin-top: 10px;
    margin-bottom: 10px;
}

.radioitem {
    display: flex;
    margin-bottom: 10px;
}

.submitButton {
    text-align: center;
}

#submitButton {
    font-size: 14pt;
    margin: 15px;
    padding: 8px;
    background-color: rgba(101, 140, 224, 0.884);
}

.thanks {
    margin: 10%;    
}
/* End Stormcenter */

/* Start main index.html */
.towninfo {
    display: grid;
    margin: 0px 25px;
    margin-bottom: 50px;

}

.townsection {
    font-family: "Martel";
    display: block;
    width: 80%;
    margin: 15px auto;
    padding-bottom: 15px;
    border: 1px darkgray solid;
    background-color: rgba(218, 234, 240, 0.678);
}

.townname {
    color: #06426f;
    font-weight: bold;
    text-shadow: 2px 2px #76b4e7;
    font-size: 26px;
    font-weight: bold;
}

.townmotto {
    color: #06426f;
    font-style: italic;
    font-weight: bold;
    font-size: 14px;
    margin-top: -20px;
    padding: 0px 20px;
}

.townimage {
    display: block;
    width: 85%;
    margin: 10px auto;
    box-shadow: 0 0 10px #c7bee2;
}

.towndetails {
    margin: 2px;
    font-size: 16px;
}
/* end main index.html */

    
/*

    MEDIUM VIEW

*/
@media only screen and (min-width: 32.5em) {

ul {
    display: flex;
    justify-content: center;
}

.navbar li {
    display: flex;
    justify-content: center;
}
    
.navbar li:first-child {
    display: none;
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1em;
}

h4 {
    font-size: 1.3em;
}

main {
    text-align: center;
}

.townevents {
    text-align: center;
}

.townevents li {
    margin: 10px;
}


footer {
    width: 90%;
}

/* Town Page */
.cityarea {
    width: 85%;
}

.forecast {
    display: flex;
}

.conditionstats {
    font-size: 1.05em;
}

.story, .contact {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    background-color: lightblue;
}

.townmap img {
    display: flex;
    width: 100%;
}
/* Town Page */


/* Gallery */
.weatherimages {
    max-width: 700px;
    grid-template-columns: 1fr 1fr;
}

figure {
    font-size: 1.25em;
}
/* Gallery */

/* Stormcenter */
.radioitem {
    display: inline;
}

.towninfo {
    display: flex; /* flex over grid in medioum */
    flex-wrap: wrap;
}

.townsection {
    display: flex;
    width: 75%;
    margin: auto;
    padding: 5px 5px;
    margin-bottom: 20px;
}

.townsection:nth-child(even) {
    flex-direction: row-reverse;
}

.townsection div {
    margin: auto;
}

.townimage {
    width: 40%;
}
/* Stormcenter */


}
/*

    END MEDIUM VIEW

*/



/*

    LARGE VIEW

*/
@media only screen and (min-width: 64em) {

li {
    width: 100%;
}    
    
.motto {
    font-size: 1em;
}

h1 {
    margin-bottom: 5px;
    font-size: 36px;
}

h2 {
    font-size: 2.8em;
}

h3 {
    font-size: 1.2em;
}

main {
    text-align: center;
}

footer {
    font-size: 16px;
}

td img {
    width: 105px;
    height: 105px;
}


/* Town Page */
.conditionstats {
    font-size: 1.4em;
}
/* Town Page */

/* Gallery */
.weatherimages {
    max-width: 1024px;
    grid-template-columns: 1fr 1fr 1fr;
}
    
figure {
    font-size: 1.5em;
}

figure:hover {
    box-shadow: 0 0 30px rgb(136, 135, 135);
    border-radius: 0px;
}
/* Gallery */

/* Stormcenter */
.townname {
    font-size: 38px;
}

.townsection {
    display: block;
}

.townsection div {
    height: 160px;
}

.towninfo {
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3%;
}

.townimage {
    width: 90%;
}

.townmotto {
    font-size: 16px;
}
/* Stormcenter */
}

/*

    END LARGE VIEW

*/
