@media only screen and (min-width: 32.5em) {

ul {
    display: flex;
    justify-content: center;
}

.navbar li {
    display: flex;
    justify-content: center;
}
    
.navbar li:first-child {
    display: none;
}

.contentbox {
    width: 85%;
}

.cityarea {
    width: 80%;
}

footer {
    width: 85%;
}

#partytime {
    font-size: 1.25em;
}

.weathersummary {
    height: 20vh;
}

.forecast {
    display: flex;
}

.prestonmap img {
    display: flex;
    width: 100%;
}

}

