@media only screen and (min-width: 64em) {

li {
    width: 100%;
}    
    
.motto {
    font-size: 1em;
}

h1 {
    margin-bottom: 5px;
    font-size: 36px;
}

h2 {
    font-size: 2.8em;
}

footer {
    font-size: 16px;
}

.townname {
    font-size: 38px;
}

.townsection {
    display: block;
}

.townsection div {
    height: 160px;
}

.towninfo {
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3%;
}

.townimage {
    width: 90%;
}

.townmotto {
    font-size: 16px;
}


}