body {
    text-align: center;
}

main {
    margin: 10px;
    background-color: #dddddd;
    box-shadow: 0 0 20px black;
}

h1, h2 {
    font-family: 'Montserrat', sans-serif;
    color: #3f3f8d;
}

.cards {
    display: grid;
    grid-template-columns: 100%;
}

img {
    width: 60%;
    box-shadow: 0 0 15px black;
}

p {
    margin-top: -10px;
    color: black;
    font-family: 'Martel';
}

section {
    margin: 2px;
    padding-bottom: 10px;
    border: 1px darkslateblue solid;
    background-color: rgba(101, 140, 224, 0.884);
}

footer {
    font-family: 'Montserrat', sans-serif;
    padding: 20px;
}