body {
    background-color: whitesmoke;
}

#partytime {
    display: none;
    font-size: 1em;
    text-align: center;
    background-color: yellowgreen;
    color: white;
}

header, footer {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    color: white;
    width: 100%;
    background-color: rgba(6, 61, 179, 0.884);
}

.logo {
    width: 15%;
    max-width: 100px;
    margin: 5px 5px 5px 5px;
}

.motto {
    font-family: 'Martel', serif;
    font-size: .90em;
    align-content: center;
}

footer {
    margin: 0px auto;
    flex-direction: column;
    position: sticky;
    bottom: 0;
    font-size: 14px;
}

nav {
    background-color: rgba(101, 140, 224, 0.884);
    width: 100%;
}

nav ul {
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav li a {
    display: flex;
    justify-content: center;
    color: white;
    padding: 0.75rem;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}

nav a:hover {
    background-color: rgba(218, 234, 240, 0.678);
    color: #36454f;
    width: 100%;
    transition: .5s;
}

.navbar li:first-child {
    display: flex;
    justify-content: center;
}

.navbar li {
    display: none;
}

.magic li {
    display: flex;
    justify-content: center;
}

.active {
    width: 100%;
    background-color: rgba(218, 234, 240, 0.678);
    color: rgb(18, 18, 158);
    font-weight: bold;
}

#footdiv {
    margin-top: 15px;
    margin-bottom: 5px;
}

#currentDate {
    color: yellow;
    padding-bottom: 10px;
}

h1 {
    text-align: center;
}

main {
    text-align: center;
}

.towninfo {
    display: grid;
    /* margin-bottom: 1px; */
}

.townsection {
    font-family: "Martel";
    display: block;
    width: 80%;
    margin: 15px auto;
    padding-bottom: 15px;
    border: 1px darkgray solid;
    background-color: rgba(218, 234, 240, 0.678);
}

.townname {
    color: #06426f;
    font-weight: bold;
    text-shadow: 2px 2px #76b4e7;
    font-size: 26px;
    font-weight: bold;
}

.townmotto {
    color: #06426f;
    font-style: italic;
    font-weight: bold;
    font-size: 14px;
    margin-top: -20px;
    padding: 0px 20px;
}

.townimage {
    display: block;
    width: 85%;
    margin: 10px auto;
    box-shadow: 0 0 10px #c7bee2;
}

.towndetails {
    margin: 2px;
    font-size: 16px;
}

