body {
    background-color: whitesmoke;
}

#partytime {
    display: none;
    font-size: 1em;
    text-align: center;
    background-color: yellowgreen;
    color: white;
}

header, footer {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    color: white;
    width: 100%;
    background-color: rgba(6, 61, 179, 0.884);
}

.logo {
    width: 15%;
    max-width: 100px;
    margin: 5px 5px 5px 5px;
}

.motto {
    font-family: 'Martel', serif;
    font-size: .90em;
    align-content: center;
}

footer {
    margin: 0px auto;
    flex-direction: column;
    position: sticky;
    bottom: 0;
    font-size: 14px;
}

nav {
    background-color: rgba(101, 140, 224, 0.884);
    width: 100%;
}

nav ul {
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav li a {
    display: flex;
    justify-content: center;
    color: white;
    padding: 0.75rem;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}

nav a:hover {
    background-color: rgba(218, 234, 240, 0.678);
    color: #36454f;
    width: 100%;
    transition: .5s;
}

.navbar li:first-child {
    display: flex;
    justify-content: center;
}

.navbar li {
    display: none;
}

.magic li {
    display: flex;
    justify-content: center;
}

.active {
    width: 100%;
    background-color: rgba(218, 234, 240, 0.678);
    color: rgb(18, 18, 158);
    font-weight: bold;
}

#footdiv {
    margin-top: 15px;
    margin-bottom: 5px;
}

#currentDate {
    color: yellow;
    padding-bottom: 10px;
}

h1 {
    text-align: center;
}

main {
    text-align: left;
    font-family: "Montserrat";
    font-size: 0.65em;
}

.reddot {
    color: red;
}

input {
    margin: 5px;   
}

#rating {
    vertical-align: middle;
}

fieldset {
    font-size: 12pt;
    margin: auto;
    max-width: 80%;
    background-color: rgba(218, 234, 240, 0.678);
} 

legend {
    margin: 0 auto;
    padding: 8px;
}

#addinfo {
    width: 99%;
}

div {
    padding-right: 30px;
 }

#stormRegion {
    margin-top: 10px;
    margin-bottom: 10px;
}

.radioitem {
    display: flex;
    margin-bottom: 10px;
}

.submitButton {
    text-align: center;
}

#submitButton {
    font-size: 14pt;
    margin: 15px;
    padding: 8px;
    background-color: rgba(101, 140, 224, 0.884);
    /* background-color: rgba(218, 234, 240, 0.678); */
}

.thanks {
    margin: 10%;    
}