.logo {
    display: inline;
}
  
nav {
    ul {
        display: flex;
        justify-content: center;

        li {
            display: flex;
          }

          li:first-child {
            display: none;
        }

    }
}

/******************************************************************************************************
    FONT
******************************************************************************************************/

nav, div, tbody, p, textarea, fieldset, label {
    font-size: $font_medium;
  }
  
/******************************************************************************************************
******************************************************************************************************/
  

  

/******************************************************************************************************

Home

******************************************************************************************************/
.experiences {
    grid-template-columns: 45% 45%;

    img {
        width: 80%;
    }
}

/******************************************************************************************************

Activities

******************************************************************************************************/
.activities {
    justify-content: center;
    grid-template-columns: 45% 45%;

    section {
        padding: 5px 5px;

        div {
            margin: auto;
        }    

        img {
            width: 80%;
            margin-bottom: 10px;
        }
    }
}


/******************************************************************************************************

Guides

******************************************************************************************************/
.guides {
    section {
        display: flex;
        width: 75%;
        margin: auto;
        padding: 5px 5px;
        margin-top: 20px;

        div {
            margin: auto;
        }    

        img {
            width: 40%;
        }
    }
}

.guidesection:nth-child(even) {
    flex-direction: row-reverse;
}


/******************************************************************************************************

Contact

******************************************************************************************************/
.companyInfo {

    .leftside {
        display: flex;
        width: 100%;
        height: 250px;
    }
}    
