body {
  background-color: whitesmoke;
}

.logo {
    display: none;
    position: absolute;
    left: 20px;
    top: 90px;
    margin-left: 20px;
    z-index: 1; // make it overlay banner
}

nav {
    overflow: hidden;
    background-image: url($banner_image);
    min-height: 200px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;  

    ul {

      li {
        display: none;
      }

      li a {
        color: white;
        padding: 0.75rem;
      }

      li:first-child {
        display: flex;
        justify-content: center;
      }

      a {
        float: left;
        color: #f2f2f2;
        text-decoration: none;
        font-size: 1.4em;
        transition: 1s;
      }

      a:hover {
        background-color: $background_color;
        color: $logo_color;
      }

    }
}

.active {
  color: $logo_color;
  font-weight: bold;
  background-color: $background_color;
}

.hamburgler li {
  display: flex;
  justify-content: center;
}

.currentConditions {
  text-align: center;
  color: white;
  text-transform:capitalize;
  font-size: 1.2em;
  margin-top: 100px;
}

main {
  text-align: center;
}

h1 {
  color: $h1_color;
}

h2 {
  color: $h2_color;  
}

h3 {
  color: $h3_color;
}

h4 {
  color: $h4_color;
}

h5 {
  color: $h5_color;
}

footer {
    display: flex;
    justify-content: center;
    padding: 20px 0;
    color: white;
    background-color: $logo_color;
    margin-top: 20px;  
  a {
      text-decoration: none;
      color: #c7ffda;
  }
}


nav, h1,h2,h3,h4 {
  font-family: $font_family_heading;
}

h2,h3,h4{
  text-decoration: underline;
}

nav, div, tbody, p, textarea, fieldset, label {
  font-size: $font_small;
}

p, textarea, .activities {
  font-family: $font_family_content;  
}

.contactForm, label {
  font-family: $font_family_fields;  
}

/******************************************************************************************************

HOME

******************************************************************************************************/
.intro {
  margin: 0 2%;
  padding: 10px;
  border: 1px $border_color solid;
  background-color: $background_color;
}

.experiences {
  display: grid;

  p {
    color: $logo_color;
  }

  img {
    width: 80%;
  }
}

.CalltoActionBro {
  margin: 0 2%;
  padding-bottom: 15px;
  border: 1px $border_color solid;
  background-color: $background_color;

.forecast {
  margin: 0 auto;
  width: 80%;

  table {
    border-collapse: collapse;
    border: 1pt solid $header_color;
  }

  tr, td {
    border: 1pt solid $header_color;
  }

  th {
    color: $logo_color;
  }

  td img {
    display: block;
    margin: 0 auto;
    width: 75px;
    height: 75px;
  }

}
}

.book_adventure {
    margin: 50px auto;

    .reslink {
      color: $header_color;
      text-decoration: none;
      border-radius: 5px;
      padding: 10.5px 30%;
      border: 2px solid $logo_color;
    }

    .reslink:hover {
      color: white;
      transition: .35s;
      background-color: $header_color;
    }
}

/******************************************************************************************************

Adventure / Activities

******************************************************************************************************/
.activities {
  display: grid;
  justify-content: center;

  section {
    display: flex;
    flex-flow: column;
    margin: 10px;
    border: 1px $border_color solid;
    background-color: $background_color;

    p {
        padding: 0 50px;
      }
  
    img {
      width: 90%;
      margin: 0 auto;
      min-width: 200px;
    }
  }
  
}

/******************************************************************************************************

Guides

******************************************************************************************************/
.guides {
  display: grid;
  margin: 0 25px;

  section {
    width: 95%;
    margin-top: 20px;
    border: 1px $border_color solid;
    background-color: $background_color;
  
    p {
        margin: 2px;
        padding: 0 50px;
      }
  
    img {
      display: block;
      width: 100%;
      min-width: 200px;
    }
  
    h2 {
      margin: .4em 0;  
      color: $logo_color;
      font-weight: bold;
      text-shadow: 1px 1px $header_color;
    }
  
    .guideemail {
      font-size: $font_small; // always small
      color: $header_color;
      font-style: italic;
      font-weight: bold;
    }
  }

}


/******************************************************************************************************

Reservations

******************************************************************************************************/
table {
  width:100%;
  border: 1px $border_color solid;
  border-collapse: collapse;

  .title {
    color: $header_color;
  }

  tbody tr td{
    border: 1px $border_color solid;
  }

  .title {
    font-weight: bold;
  }
}

.contactForm {
  font-family: $font_family_fields;
}

/******************************************************************************************************

Contact

******************************************************************************************************/
.fieldRequired {
  color: red;
}

fieldset {
  margin: 0 auto;
  max-width: 80%;
  margin-bottom: 15px;
  background-color: $background_color;
  border: 1px $border_color solid;

  label {
    color: $header_color;
  }
  
  .addinfo {
    width: 90%;
    margin: 10pt 0;
  }
  
  input {
    margin: 5px;   
  }
}

.companyInfo {
  display: flex;
  flex-flow: flex wrap;
  background-color: $header_color;
  margin-bottom: -20px; //! i know this is a no-no.. but I'm countering a global footer margin specific to this page

  .leftside, .rightside {
    width: 48%;
    flex: 1 0 15em;
    margin: 0.5em;
    align-content: center;
  }

  .leftside {
    display:  none;
  }
  // .leftside {
  //   visibility: collapse;
  // }

}

.thankyou {
  margin: 7% auto;
}
