

$banner_image : "assets/images/banner.jpg";


// $regularWeight : 300;
// $heavyWeight : 700;

// $gutter : 2%;
$font_family_heading : 'Montserrat', sans-serif;
$font_family_content : 'Martel', serif;
$font_family_fields  : 'Ubuntu', sans-serif;

$font_small : 10pt;
$font_medium: 14pt;
$font_large: 16pt;

$font_menu_small : 10pt;
$font_menu_medium: 12pt;
$font_menu_large: 16pt;

$font_h1_small : 12pt;
$font_h1_medium: 14pt;
$font_h1_large: 16pt;


$border_color : darkgray;
// $background_color: #ddd8ce;
$background_color: #fff;
$logo_color: #05495a;
$header_color: #59918e;

$h1_color: $logo_color;
$h2_color: $header_color;
$h3_color: $header_color;
$h4_color: $header_color;
$h5_color: red;
